{% extends 'main/base.html' %} {% load static %}
{% block style %} {% endblock %}
 {% block content %}

<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">Asosiy</a>
        </li>
        <li class="breadcrumb-item active">Kommentariyalar</li>
      </ol>
    </nav>
    <form method="post">
      {% csrf_token %}
    <div class="d-flex justify-content-between" style="margin: 30px 30px 10px 20px;">
      <div>
        <select class="btn-sm btn" style="border: solid 1px #8592a3;" name="fillial" id="">
          <option value="all">---------</option>
          {% for i in fillials %}
          <option  value="{{i.id}}">{{i.name_uz}}</option>
          {% endfor %}
        </select>

         <input type="date" name="from" style="border: solid 1px #8592a3;"   class="dropdown-toggle btn btn-sm"/>

         <input type="date" name="to" style="border: solid 1px #8592a3;"  class="dropdown-toggle btn btn-sm"/>
         <button type="submit" class="btn btn-sm btn-secondary">Filter</button>
      </div>
    </div>
  </form>
    <div class="container-xxl flex-grow-1 container-p-y">
    </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 order-1">
            <div class="row">
                {% for i in comments %}
              <div class="col-lg-4 col-md-12 col-6 mb-4">
                <div class="card">
                  <div class="card-body">
                    <div class="card-title d-flex align-items-start justify-content-between">
                    </div>
                    <h6><b>Foydalanuvchi:</b> {{i.user.name}}</h6>
                    <h6><b>Telefon:</b> {{i.user.number}}</h6>
                    <h6><b>Vaqti:</b> {{i.created_at|date:"d-m-Y H:i"}}</h6>
                    <h5 class="fw-semibold">Savol va Taklif</h5>
                    <p >{{i.data|safe}}</p>
                    {% if not i.status %}
                    <form method="post">
                      {% csrf_token %}
                    <textarea required class="form-control mb-3 mt-3" name="message" id="" cols="10" rows="4"></textarea>
                    <input type="hidden" name="user" value="{{i.user.id}}" id="">
                    <input type="hidden" name="comment" value="{{i.id}}" id="">
                    <button type="submit" style="color: #fff;" class="btn btn-success btn-sm">Javob Yuborish</button>
                  </form>
                  {% else %}
                  <hr>
                  <h5 class="fw-semibold">Javob</h5>
                  <p>{{i.answer}}</p>
                  {% endif %}
                  </div>
                </div>
              </div>    
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    <div class="content-backdrop fade"></div>
  </div>
</div>
{% endblock %}
