{% extends 'main/base.html' %} {% load static %}
{% block style %} {% endblock %}
 {% block content %}
 {% include 'main/messages.html' %}
<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="\">Asosiy</a>
          </li>
          <li class="breadcrumb-item active">Foydalanuvchilar</li>
        </ol>
      </nav>
    <div class="card">
      <div class="table-responsive text-nowrap">
        <table class="table">
          <thead>
            <tr>
              <th>№</th>
              <th>Ismi</th>
              <th>Telefon</th>
              <th>Telegram</th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            {% for i in clients %}
            <tr>
              <td>
                <i class="fab fa-angular fa-lg text-danger me-3"></i>
                <strong>{{forloop.counter}}</strong>
              </td>
              <td>{{i.name}}</td>
              <td><a href="tel:{{i.number}}">{{i.number}}</a></td>
              <td><a style="color: #229ED9; margin-left: 14px;" href="{% url 'send_telegram' i.id %}"><i  class="bx bxl-telegram"></i></a></td>
            </tr>   
            {% endfor %}                    
          </tbody>
          <tfoot>
            <tr>
              <th>№</th>
              <th>Ismi</th>
              <th>Telefon</th>
              <th>Telegram</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="content-backdrop fade"></div>
  </div>
</div>
{% endblock %}
