{% extends 'main/base.html' %} {% load static %}
{% block style %} {% endblock %}
 {% block content %}

<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="\">Asosiy</a>
          </li>
          <li class="breadcrumb-item active">Foydalanuvchilar</li>
        </ol>
      </nav>
    <div class="card">
      <form method="post">
        {% csrf_token %}
      <div class="d-flex justify-content-between" style="margin: 30px 30px 10px 20px;">
        <div>
          <button  type="button" class="btn-sm btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
           {% if fillial %} {{fillial.name_uz}} {% else %} Barchasi{% endif %}
          </button>
          <ul class="dropdown-menu">
            <li><button type="submit" name="action" value="all" class="dropdown-item">Barchasi</button></li>
            <!-- <li><input type="hidden" name="active" value="active"><button type="submit" class="dropdown-item">Faol</button></li>
            <li><input type="hidden" name="not_active" value="not_active"><button type="submit" class="dropdown-item">Faol emas</button></li>
            <li><input type="hidden" name="delete" value="delete"><button type="submit" class="dropdown-item">O'chirish</button></li> -->
              {% for i in fillials %}
            <li class="active-item"><button type="button"  name="action" value="{{i.id}}" class="dropdown-item">{{i.name_uz}}</button></li>
            {% endfor %}
          </ul>

          <button  type="button" class="btn-sm btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            {% if fillial %} {{fillial.name_uz}} {% else %} dan{% endif %}
           </button>
           <ul class="dropdown-menu">
             <li><input type="date" name="action"  class="dropdown-item"/></li>
        
           </ul>

          <button  type="button" class="btn-sm btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            {% if fillial %} {{fillial.name_uz}} {% else %} gacha{% endif %}
           </button>
           <ul class="dropdown-menu">
             <li><input type="date" name="action"  class="dropdown-item"/></li>
             <!-- <li><input type="hidden" name="active" value="active"><button type="submit" class="dropdown-item">Faol</button></li>
             <li><input type="hidden" name="not_active" value="not_active"><button type="submit" class="dropdown-item">Faol emas</button></li>
             <li><input type="hidden" name="delete" value="delete"><button type="submit" class="dropdown-item">O'chirish</button></li> -->

           </ul>
        </div>
        
      </div>
    </form>
      <div class="table-responsive text-nowrap">
        <table class="table">
          <thead>
            <tr>
              <th>№</th>
              <th>Ismi</th>
              <th>Fillial</th>
              <th>Telefon</th>
              <th>Telegram</th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            {% for i in clients %}
            <tr>
              <td>
                <i class="fab fa-angular fa-lg text-danger me-3"></i>
                <strong>{{forloop.counter}}</strong>
              </td>
              <td>{{i.name}}</td>
              <td>{{i.filial.name_uz}}</td>
              <td><a href="tel:{{i.number}}">{{i.number}}</a></td>
              <td><a style="color: #229ED9; margin-left: 14px;" href="{% url 'send_telegram' i.id %}"><i  class="bx bxl-telegram"></i></a></td>
            </tr>   
            {% endfor %}                    
          </tbody>
          <tfoot>
            <tr>
              <th>№</th>
              <th>Ismi</th>
              <th>Fillial</th>
              <th>Telefon</th>
              <th>Telegram</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="content-backdrop fade"></div>
  </div>
</div>
{% endblock %}
