{% extends 'main/base.html' %} {% load static %}
{% block style %} {% endblock %}
{% block content %}

{% include 'main/messages.html' %}
<div class="content-wrapper">
    <!-- Content -->
    {{text_uz}}
    <div class="container-xxl flex-grow-1 container-p-y">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/">Asosiy</a>
              </li>
              <li class="breadcrumb-item active">Textlar</li>
            </ol>
          </nav>

        <form id="texts_form">
        <div class="row">


            {% for lang in languages %}
            <div class="col">
                <h5 class="card-header">{{lang.name}}</h5>
                {% for text in lang.texts %}

                <div class="card-body">
                    <div class="form-floating">
                        <textarea type="text"  class="form-control text_val" required id="floatingInput" aria-describedby="floatingInputHelp" data-lang="{{ lang.id }}" data-name="{{ text.name }}" >{{ text.data }}</textarea>
                        <label for="floatingInput">{{text.name}}</label>
                    </div>
                </div>

                {% endfor %}
            </div>
           

            {% endfor %}
            






        </div>
        <button type="submit" class="btn btn-success me-2 " style="float: right;margin-right: 23px !important;">Saqlash</button>
        </form>
    </div>
</div>

<div class="content-backdrop fade"></div>
</div>


{% endblock %}


{% block javascript %}
<script>
    document.getElementById("texts_form").addEventListener('submit', async (e) => {
        e.preventDefault();
        let values = {};
        $(".text_val").each((i, el) => {
            let lang = $(el).data('lang');
            let name = $(el).data('name');
            let value = $(el).val();
            
            if(!values[name]){
                let res = {};
                res[lang] = value
                values[name] =res;

            }
            else{
                values[name][lang.toString()] = value;
            }
        });

        let req = await fetch('/dashboard/texts/update', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
            },
            body: JSON.stringify(values)
        });
        if (req.status==200){
            location.reload();
        }
    });

    
</script>
{% endblock %}