{% extends 'main/base.html' %} {% load static %}
{% block style %} {% endblock %}
 {% block content %}

<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <!-- <h4 class="fw-bold py-3 mb-4">
      <span class="text-muted fw-light">Tables /</span> Basic Tables
    </h4> -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="\">Asosiy</a>
        </li>
        <li class="breadcrumb-item active">Kategoriya</li>
      </ol>
    </nav>
    <form method="post">
      {% csrf_token %}
      <div class="card">
          <div class="d-flex justify-content-between" style="margin: 30px 30px 10px 20px;">
            <div>
              <button style="text-decoration: line-through;" type="button" class="btn-sm btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                ­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­            
              </button>
              <ul class="dropdown-menu">
                <li><button type="submit" name="action" value="active" class="dropdown-item">Faol</button></li>
                <li><button type="submit" name="action" value="not_active" class="dropdown-item">Faol emas</button></li>
                <!-- <li><button type="submit" name="action" value="delete" class="dropdown-item">O'chirish</button></li> -->
              </ul>
            </div>
          <div>
            <!-- <a href="" class="btn btn-secondary btn-sm" style="color: white;">Ortga</a> -->
            <a href="{% url 'create_category' %}" class="btn btn-primary btn-sm" style="color: white;">Qo'shish</a>
  
          </div>
          </div>
        <div class="table-responsive text-nowrap">
          <table class="table">
            <thead>
              <tr>
                <th>­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­        </th>
                <th>Nomi Uz </th>
                <th>Nomi Ru </th>
                <th>Holati</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
              {% for i in category %}
              <tr>
                <td><input class="form-check-input " name="results" type="checkbox" value="{{i.id}}"></td>
                <td>
                 <a href="{% url 'list_sub_category' i.id %}"><i class="fab fa-angular fa-lg text-danger"></i>
                  <strong>{{i.name_uz}}</strong></a>
                </td>
                <td>
                  <a href="{% url 'list_sub_category' i.id %}"><strong>{{i.name_ru}}</strong></a>
                </td>
                {%  if i.active %}
                <td><span class="badge bg-label-primary me-1">Faol</span></td>
                {% else %}
                <td><span class="badge bg-label-danger me-1">Faol emas</span></td>
                {% endif %}
                <td>
                  <div class="dropdown">
                    <i class="fab fa-angular fa-lg text-danger me-3"></i>
                    <button
                      type="button"
                      class="btn p-0 dropdown-toggle hide-arrow"
                      data-bs-toggle="dropdown"
                    >
                      <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="{% url 'edit_category' i.id %}"
                        ><i class="bx bx-edit-alt me-1"></i> Taxrirlash</a
                      >
                      <a class="dropdown-item" onclick="delete_category('{% url 'delete_category' i.id %}')"
                        ><i class="bx bx-trash me-1"></i> O'chirish</a
                      >
                    </div>
                  </div>
                </td>
              </tr>  
            {% endfor %}                                          
            </tbody>
            <tfoot>
              <tr>
                <th>­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­        </th>
                <th>Nomi Uz</th>
                <th>Nomi Ru</th>
                <th>Holati</th>
                <th>Actions</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div class="content-backdrop fade"></div>
    </div>
    </form>
</div>
{% endblock %}



{% block javascript %}

<script>
  async function delete_category(url) {
    if (confirm("Siz buni aniq o'chirmoqchimisiz?")){
      // let res = await fetch(url);
      // location.reload();
      location.href = url;
    }
    
  }
</script>

{% endblock %}