{% if messages %}

    {% for message in messages %}
          <div id="toast" class="bs-toast toast toast-placement-ex m-2 fade bg-{{ message.tags}} bottom-0 end-0 translate-middle-y show" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
            <div class="toast-header">
              <i class="bx bx-bell me-2"></i>
              <div class="me-auto fw-semibold">{{message.tags}}</div>
              <!-- <small>11 mins ago</small> -->
              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">{{message}}</div>
          </div>
    {% endfor %}
{% endif %}