<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo">
    <a href="/" class="app-brand-link">
      <img src="/static/dashboard/assets/img/logo.png" style="width: 10rem;" alt="">
    </a>

    <a
      href="javascript:void(0);"
      class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none"
    >
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item {{home}}">
      <a href="{% url 'home' %}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Analytics">Asosiy</div>
      </a>
    </li>

    <li class="menu-item {{order_active}} {{menu_open}}">
      <!-- <a href="{% url 'orders_list' %}" class="menu-link"> -->
      <a href="javascript:void(0);" class="menu-link menu-toggle">

        <i class="menu-icon tf-icons bx bx-collection"></i>
        <div data-i18n="Basic">Buyurtmalar</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {{list_active}}">
                <a href="{% url 'orders_list' %}" class="menu-link">
            <div data-i18n="Without menu">Buyurtmalar</div>
          </a>
        </li>

        <li class="menu-item {{accept_active}}">
          <a href="{% url 'order_accepted' %}" class="menu-link">
            <div data-i18n="Without navbar">Tasdiqlangan</div>
          </a>
        </li>

        <li class="menu-item {{not_accept_active}}">
          <a href="{% url 'order_not_accepted' %}" class="menu-link">
            <div data-i18n="Without navbar">Tasdiqlanmagan</div>
          </a>
        </li>

        <li class="menu-item {{archive_active}}">
          <a href="{% url 'order_archive' %}" class="menu-link">
            <div data-i18n="Without navbar">Arxiv</div>
          </a>
        </li>

      </ul>
    </li>

    <li class="menu-item {{category_active}}">
      {% if 'category' in access_types or user.is_superuser %}
      <a href="/category/list" class="menu-link">
        {% else %}
        <a href="{% url 'error_message' %}" class="menu-link">
        {% endif %}
        <i class="menu-icon tf-icons bx bx-category"></i>
        <div data-i18n="Analytics">Kategoriya</div>
      </a>
    </li>

    <li class="menu-item {{present_active}}">
      {% if 'present' in access_types or user.is_superuser %}
      <a href="/offers/list" class="menu-link">
        {% else %}
        <a href="{% url 'error_message' %}" class="menu-link">
        {% endif %}
        <i class='menu-icon tf-icons  bx bx-gift'></i>
        <div data-i18n="Analytics">Aksiyalar</div>
      </a>
    </li>

    <li class="menu-item {{fillial_active}}">
      {% if 'fillial' in access_types or user.is_superuser %}
      <a href="/fillials/list" class="menu-link">
        {% else %}
        <a href="{% url 'error_message' %}" class="menu-link">
        {% endif %}
        <i class='menu-icon bx bx-map-pin  tf-icons' ></i>
        <div data-i18n="Analytics">Filliallar</div>
      </a>
    </li>
    <li class="menu-item {{operator_active}}">
      {% if 'operators' in access_types or user.is_superuser %}
      <a href="/operator/list" class="menu-link">
        {% else %}
      <a href="{% url 'error_message' %}" class="menu-link">
        {% endif %}
        <i class="menu-icon tf-icons bx bx-support"></i>
        <div data-i18n="Analytics">Operatorlar</div>
      </a>
    </li>
    <li class="menu-item {{statistics_active}}">
      {% if 'statistic' in access_types or user.is_superuser %}
      <a href="{% url 'statistics' %}" class="menu-link">
        {% else %}
      <a href="{% url 'error_message' %}" class="menu-link">
        {% endif %}
        <i class='bx bx-chart tf-icons menu-icon '></i>
        <div data-i18n="Analytics">Statistika</div>
      </a>
    </li>
    <li class="menu-item {{ads_active}}">
      {% if 'ads' in access_types or user.is_superuser %}
      <a href="{% url 'all_ads' %}" class="menu-link">
        {% else %}
      <a href="{% url 'error_message' %}" class="menu-link">
        {% endif %}
        <i class='bx bx-share-alt tf-icons menu-icon '></i>
        <div data-i18n="Analytics">Reklama</div>
      </a>
    </li>
    <li class="menu-item {{users_active}}">
      {% if 'followers' in access_types or user.is_superuser %}
      <a href="{% url 'clients_list' %}" class="menu-link">
        {% else %}
      <a href="{% url 'error_message' %}" class="menu-link">
        {% endif %}
        <i class='bx bx-group tf-icons menu-icon'></i>
        <div data-i18n="Analytics">Foydalanuvchilar</div>
      </a>
    </li>
    <li class="menu-item {{comment_active}}">
      {% if 'comments' in access_types or user.is_superuser %}
      <a href="{% url 'comments_list' %}" class="menu-link">
        {% else %}
      <a href="{% url 'error_message' %}" class="menu-link">
        {% endif %}
        <i class='bx bx-message-rounded-dots tf-icons menu-icon'></i>
        <div data-i18n="Analytics">Kommentariyalar</div>
      </a>
    </li>

    <!-- Layouts -->
    <li class="menu-item {{settings_active}} {{menu1_open}}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-layout"></i>
        <div data-i18n="Layouts">Sozlamalar</div>
      </a>

      <ul class="menu-sub ">
        <li class="menu-item {{text_active}}">
          {% if 'text' in access_types or user.is_superuser %}
          <a href="{% url 'texts' %}" class="menu-link">
            {% else %}
          <a href="{% url 'error_message' %}" class="menu-link">
            {%endif%}
            <div data-i18n="Without menu">Textlar</div>
          </a>
        </li>
        <li class="menu-item {{bot_active}}">
          {% if 'settings' in access_types or user.is_superuser %}
          <a href="{% url 'settings' %}" class="menu-link">
            {% else %}
          <a href="{% url 'error_message' %}" class="menu-link">
            {% endif %}
            <div data-i18n="Without navbar">Bot sozlamalari</div>
          </a>
        </li>
      </ul>
    </li>

  </ul>
</aside>

<nav
  class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
  id="layout-navbar"
>
  <div
    class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none"
  >
    <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
      <i class="bx bx-menu bx-sm"></i>
    </a>
  </div>

  <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
    <!-- Search -->
    <div class="navbar-nav align-items-center">
      <!-- <div class="nav-item d-flex align-items-center">
          <i class="bx bx-search fs-4 lh-0"></i>
          <input type="text" class="form-control border-0 shadow-none" placeholder="Search..." aria-label="Search...">
        </div> -->
      <!-- <div id="currency_tab" >{{currency.Ccy}} {{currency.Rate}}</div> -->
      <div id="currency_tab" ></div>


      <form method="get">
        {% csrf_token %}
        <div>
          <div class="input-group offset-2">
            <input
              id="currency"
              name="currency"
              type="text"
              readonly
              type="text"
              class="form-control"
              value="{{money}}"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"/>
            <label class="input-group-text" for="">$</label>
            <button
              class="btn btn-outline-primary"
              title="Taxrirlash"
              type="button"
              id="edit"
            >
              <i class="bx bxs-edit-alt"></i>
            </button>
            <button class="btn btn-outline-primary " type="submit">
              Saqalsh
            </button>
          </div>
        </div>
      </form>
    </div>
    <!-- /Search -->

    <ul class="navbar-nav flex-row align-items-center ms-auto">
      <!-- Place this tag where you want the button to render. -->
      <li class="nav-item lh-1 me-3">
        <span></span>
      </li>

      <!-- User -->
      <li class="nav-item navbar-dropdown dropdown-user dropdown">
        <a
          class="nav-link dropdown-toggle hide-arrow"
          href="javascript:void(0);"
          data-bs-toggle="dropdown"
        >
          <div class="avatar avatar-online">
            <img style="object-fit: cover;"
              src="{{user_photo}}"
              alt=""
              class="w-px-40 rounded-circle"
            />
          </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <a class="dropdown-item" href="#">
              <div class="d-flex">
                <div class="flex-shrink-0 me-3">
                  <div class="avatar avatar-online">
                    <img
                      src="{{user_photo}}"
                      alt=""
                      class="w-px-40 rounded-circle"
                    />
                  </div>
                </div>
                <div class="flex-grow-1">
                  <span class="fw-semibold d-block">{{ nav_operator }}</span>
                  <small class="text-muted">{% if user.is_superuser %}Admin{% else %}Operator{% endif %}</small>
                </div>
              </div>
            </a>
          </li>
          <li>
            <div class="dropdown-divider"></div>
          </li>
          <li>
            {% if user.is_superuser %}
            <a class="dropdown-item">
              {% else %}
              <a class="dropdown-item" href="{% url 'account' %}">
                {% endif %}
              <i class="bx bx-user me-2"></i>
              <span class="align-middle">Mening Profilim</span>
            </a>
          </li>
          <li>
            <div class="dropdown-divider"></div>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'logout' %}">
              <i class="bx bx-power-off me-2"></i>
              <span class="align-middle">Chiqish</span>
            </a>
          </li>
        </ul>
      </li>
      <!--/ User -->
    </ul>
  </div>
</nav>



<!-- block jabascript -->
<script>
  // $(document).ready(function () {
      // send request to server
  //     $.ajax({
  //         url: "https://cbu.uz/uz/arkhiv-kursov-valyut/json/",
  //         type: "GET",
  //         dataType: "json",
  //         success: function (data) {
  //             $('#currency_tab').html(data.Ccy + ' ' + data.Rate);
  //         }
  //     });

  // });
    // send request to server with fetch
    // set url for currency_api from django template
    // const url = '{{currency_api}}';
    fetch("{% url 'currency_api' %}", {
        method: "GET",
        headers: {
    'Access-Control-Allow-Origin':'*'
    }
    })
    .then(response => response.json())
    .then(data => {
        $('#currency_tab').html(data.Ccy + ' ' + data.Rate);
    });


  </script>
