{% extends 'main/base.html' %} {% load static %}
{% block style %}
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback">
<link rel="stylesheet" href="/static/charts/plugins/fontawesome-free/css/all.min.css">
<link rel="stylesheet" href="/static/charts/dist/css/adminlte.min.css">
<style type="text/css">
  /* Chart.js */
  @keyframes chartjs-render-animation {
    from {
      opacity: .99
    }

    to {
      opacity: 1
    }
  }

  .chartjs-render-monitor {
    animation: chartjs-render-animation 1ms
  }

  .chartjs-size-monitor,
  .chartjs-size-monitor-expand,
  .chartjs-size-monitor-shrink {
    position: absolute;
    direction: ltr;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;
    visibility: hidden;
    z-index: -1
  }

  .chartjs-size-monitor-expand>div {
    position: absolute;
    width: 1000000px;
    height: 1000000px;
    left: 0;
    top: 0
  }

  .chartjs-size-monitor-shrink>div {
    position: absolute;
    width: 200%;
    height: 200%;
    left: 0;
    top: 0
  }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

{% endblock %} {% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
  <div class="row">
    <div class="col-lg-12 col-md-12 order-1">
      <div class="row">
        <div class="col-lg-3 col-md-12 col-6 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="card-title d-flex align-items-start justify-content-between">
                <div class="avatar flex-shrink-0">
                  <img src="/static/dashboard/assets/img/icons/unicons/chart-success.png" alt="chart success"
                    class="rounded" />
                </div>
              </div>
              <span class="fw-semibold d-block mb-1">Bugun ro'yxatdan o'tganlar</span>
              <h3 class="card-title mb-2">{{today_user}}</h3>
              <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i> {{total_percent}}%</small>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-12 col-6 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="card-title d-flex align-items-start justify-content-between">
                <div class="avatar flex-shrink-0">
                  <img src="/static/dashboard/assets/img/icons/unicons/chart-success.png" alt="Credit Card"
                    class="rounded" />
                </div>
              </div>
              <span class="fw-semibold d-block mb-1">O'zbek foydalanuvchilar</span>
              <h3 class="card-title text-nowrap mb-1">{{uz_user}}</h3>
              <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i>{{uz_percent}}%</small>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-12 col-6 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="card-title d-flex align-items-start justify-content-between">
                <div class="avatar flex-shrink-0">
                  <img src="/static/dashboard/assets/img/icons/unicons/chart-success.png" alt="Credit Card"
                    class="rounded" />
                </div>
              </div>
              <span class="fw-semibold d-block mb-1">Rus foydalanuvchilar</span>
              <h3 class="card-title text-nowrap mb-1">{{ru_user}}</h3>
              <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i>{{ru_percent}}%</small>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-12 col-6 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="card-title d-flex align-items-start justify-content-between">
                <div class="avatar flex-shrink-0">
                  <img src="/static/dashboard/assets/img/icons/unicons/chart-success.png" alt="Credit Card"
                    class="rounded" />
                </div>
              </div>
              <span class="fw-semibold d-block mb-1">Umumiy foydalanuvchilar</span>
              <h3 class="card-title text-nowrap mb-1">{{all_user}}</h3>
              <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i>100%</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-xxl flex-grow-1 container-p-y ">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="" style="margin:0;">
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="">
      <div class="row">
        
        <div class="col-md-12 mb-4">
          <div class="card card-success">
            <div class="card-header">
              <h4 class="card-title">Operatorlar statistikasi</h4>
              <form method="post">
                {% csrf_token %}
              <div class="d-flex justify-content-between" style="margin: 30px 30px 10px 20px;">
                <div>
                  <select class="btn-sm btn" style="border: solid 1px #8592a3;" name="fillial" id="">
                    <option value="all">Barchasi</option>
                    {% for i in fillials %}
                    <option  value="{{i.id}}" {% if i.id == filter_active_filial %} {{ 'selected' }} {% endif %} >{{i.name_uz}}</option>
                    {% endfor %}
                  </select>
          
                   <input type="date" name="from" {% if from_date %} value="{{ from_date }}"  {% endif %}  style="border: solid 1px #8592a3;"   class="dropdown-toggle btn btn-sm"/>
          
                   <input type="date" name="to" {% if to_date %} value="{{ to_date }}"  {% endif %} style="border: solid 1px #8592a3;"  class="dropdown-toggle btn btn-sm"/>
                   <button type="submit" class="btn btn-sm btn-secondary">Filter</button>
                </div>
              </div>
            </form>

              <!-- <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div> -->
            </div>
            <div class="card-body">
              <div class="chart"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 646px;" width="646" height="250" class="chartjs-render-monitor"></canvas>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-danger">
            <div class="card-header">
              <h5 class="card-title">Filliallar bo'yicha qabul qilingan zakazlar </h5>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="chartjs-size-monitor">
                <div class="chartjs-size-monitor-expand">
                  <div class=""></div>
                </div>
                <div class="chartjs-size-monitor-shrink">
                  <div class=""></div>
                </div>
              </div>
              <canvas id="donutChart"
                style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 646px;"
                width="646" height="250" class="chartjs-render-monitor"></canvas>
            </div>
            <!-- /.card-body -->
          </div>

        </div>
        <div class="col-md-6">
          <div class="card card-danger">
            <div class="card-header">
              <h5 class="card-title">Kategoriya bo'yicha buyurtmalar statistikasi</h5>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="chartjs-size-monitor">
                <div class="chartjs-size-monitor-expand">
                  <div class=""></div>
                </div>
                <div class="chartjs-size-monitor-shrink">
                  <div class=""></div>
                </div>
              </div>
              <canvas id="donutChart1"
                style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 646px;"
                width="646" height="250" class="chartjs-render-monitor"></canvas>
            </div>
            <!-- /.card-body -->
          </div>

        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>


{% endblock %}


{% block javascript %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/staic/charts/plugins/chart.js/Chart.min.js"></script>
<script>
  $(function () {
    var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
    var donutData = {
      labels: [{% for i in fillial_data %} `{{i.fillial}}`,{% endfor %}],
      datasets: [
        {
          data: [{% for i in fillial_data %} `{{i.data}}`,{% endfor %}],
          backgroundColor: ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
        }
      ]
    }
    var donutOptions = {
      maintainAspectRatio: false,
      responsive: true,
    }
    new Chart(donutChartCanvas, {
      type: 'doughnut',
      data: donutData,
      options: donutOptions
    })
    var pieChartCanvas = $('#donutChart1').get(0).getContext('2d')
    var donutData1= {
      labels: [{% for i in category_data %} `{{i.category}}`,{% endfor %}],
      datasets: [
        {
          data: [{% for i in category_data %} `{{i.data}}`,{% endfor %}],
          backgroundColor: ['#00c0ef', '#3c8dbc', '#d2d6de','#f56954','#00a65a','#f39c12', ],
        }
      ]
    }
    var donutOptions = {
      maintainAspectRatio: false,
      responsive: true,
    }
    new Chart(pieChartCanvas, {
      type: 'doughnut',
      data: donutData1,
      options: donutOptions
    })
    
    //Barchasi----
    //- BAR CHART -
    //Barchasi----
    var barChartCanvas = $('#barChart').get(0).getContext('2d')
    var barChartData = {
      labels  : [{% for i in operators %} `{{i.operator}}`,{% endfor %}],
      datasets: [
        {
          label               : 'Tasdiqlangan',
          backgroundColor     : '#00a65a',
          borderColor         : '#00a65a',
          pointRadius          : false,
          pointColor          : '#3b8bba',
          pointStrokeColor    : '#00a65a',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: '#00a65a',
          data                : [{% for i in operators %} `{{i.accept}}`,{% endfor %}]
        },
        {
          label               : 'Tasdiqlanmagan',
          backgroundColor     : '#f56954',
          borderColor         : '#f56954',
          pointRadius         : false,
          pointColor          : '#f56954',
          pointStrokeColor    : '#c1c7d1',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: '#f56954',
          data                : [{% for i in operators %} `{{i.not_accept}}`,{% endfor %}]
        },
        {
          label               : 'Arxiv',
          backgroundColor     : '#d2d6de',
          borderColor         : '#d2d6de',
          pointRadius         : false,
          pointColor          : '#d2d6de',
          pointStrokeColor    : '#c1c7d1',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: '#d2d6de',
          data                : [{% for i in operators %} `{{i.archive}}`,{% endfor %}]
        },
      ]
    }

    var barChartOptions = {
      responsive              : true,
      maintainAspectRatio     : false,
      datasetFill             : false
    }

    new Chart(barChartCanvas, {
      type: 'bar',
      data: barChartData,
      options: barChartOptions
    })



  })
</script>
{% endblock %}