{% extends 'main/base.html' %} {% load static %}
{% block style %} {% endblock %}
{% block content %}


<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">Asosiy</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/ads/list">Reklamalar</a>
        </li>
        <li class="breadcrumb-item active">Reklama Qo'shish</li>
      </ol>
    </nav>

    <!-- Basic Layout -->
    <div class="row">
      <div class="col-xl">
        <div class="card mb-4">
          <div class="card-body">
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
                <div class="mb-3 col-md-12">
                  <label class="form-label" for="basic-default-fullname">Rasmi</label>


                  <div class="input-group">
                    <label class="input-group-text" for="id_photo">Upload</label>
                    <input type="file" class="form-control" name="media" id="id_photo">
                    <script>
                      const input = document.getElementById("id_photo");

                      input.addEventListener("change", (event) => {
                        const target = event.target;
                        if (target.files && target.files[0]) {
                          const maxAllowedSize = 19 * 1024 * 1024;
                          if (target.files[0].type.split("/")[0] == "image"){
                            if (target.files[0].size > maxAllowedSize) {
                            // Here you can ask your users to load correct file
                            target.value = "";
                            alert("Kechirasiz rasm fayli 19 mb dan oshmasligi kerak!")
                          }
                          } else if (target.files[0].type.split("/")[0] == "video"){
                            if (target.files[0].size > 49 * 1024 * 1024) {
                            target.value = "";
                            alert("Kechirasiz video fayli 50 mb dan oshmasligi kerak!")
                          }
                          } else {
                            alert("Rasm yoki video fayl yuklang!")
                            target.value = "";
                          }
                          
                        }
                      })
                    </script>
                  </div>

                  
                </div>
                <div class="mb-3 col-md-6">
                  <label class="form-label" for="basic-default-fullname">Nomi Uz</label>
                  <input type="text" required="" class="form-control" id="id_name_uz" name="name_uz">
                </div>
                <div class="mb-3 col-md-6">
                  <label class="form-label" for="basic-default-fullname">Nomi Ru</label>
                  <input type="text" required="" class="form-control" id="id_name_ru" name="name_ru">
                </div>
                <!-- select mode -->
                <div class="mb-6 col-md-24">
                  <!-- <label class="form-label" for="basic-default-fullname">Mode</label>
                  <select class="form-control" name="mode">
                    <option value="0">Text</option>
                    <option value="1">Photo</option>
                    <option value="2">Video</option>
                  </select> -->
                  <!-- description -->
                  <div class="mb-3 col-md-12">
                    <label class="form-label" for="basic-default-fullname">Tavsifi</label>
                    <textarea class="form-control" name="caption" id="id_desc" rows="3"></textarea>
                  </div>
                  <!-- select is active -->
                  <button type="submit" class="btn btn-primary">Saqlash</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / Content -->

  <div class="content-backdrop fade"></div>
</div>

{% endblock %}
{% block javascript %}
<script type="text/javascript" src="/static/ckeditor/ckeditor-init.js"></script>
<script type="text/javascript" src="/static/ckeditor/ckeditor/ckeditor.js"></script>
{% endblock %}