{% extends 'main/base.html' %} {% load static %}
{% block style %} {% endblock %}
 {% block content %}


<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">Asosiy</a>
          </li>
          <li class="breadcrumb-item">
            <a href="/operator/list">Operatorlar</a>
          </li>
          <li class="breadcrumb-item active">Operatorni Taxrirlash</li>
        </ol>
      </nav>

      <!-- Basic Layout -->
      <div class="row">
        <div class="col-xl">
          <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
            </div>
            <div class="card-body">
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="d-flex align-items-start align-items-sm-center gap-4">
                  <img src="{% if data.photo %}/media/{{data.photo}}{% else %}/static/dashboard/assets/img/default.png{% endif %}" alt="user-avatar" name="photo" class="d-block rounded" height="100" width="100" id="uploadedAvatar">
                  <div class="button-wrapper">
                    <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                      <span class="d-none d-sm-block">Yangi rasm yuklash</span>
                      <i class="bx bx-upload d-block d-sm-none"></i>
                      <input type="file" id="upload" class="account-file-input" name="photo" hidden="" accept="image/png, image/jpeg">
                    </label>
                    <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                      <i class="bx bx-reset d-block d-sm-none"></i>
                      <span class="d-none d-sm-block">Tozalash</span>
                    </button>
  
                    <p class="text-muted mb-0">JPG, GIF yoki PNG ruxsat berilgan. Maksimal hajmi 800K</p>
                  </div>
                </div>
                <!-- {{ form.as_p }} -->
                <div class="row">
                  <div class="mb-3 col-md-6">
                    <label class="form-label"  for="id_name">Ismi</label>
                    <input type="text" required class="form-control" value="{{data.user.first_name}}" id="id_name" name="name">
                  </div>
                  <div class="mb-3 col-md-6">
                    <label class="form-label"  for="id_surname">Familyasi</label>
                    <input type="text"  class="form-control" value="{{data.user.last_name}}" id="id_surname" name="surname">
                  </div>
                  <div class="mb-3 col-md-6">
                    <label class="form-label" for="id_phone">Telefon</label>
                    <div class="input-group input-group-merge">
                      <span class="input-group-text">UZ (+998)</span>
                      <input maxlength="9" type="text" id="id_phone" value="{{data.phone}}" name="phone"  class="form-control" placeholder="99 999 99 99">
                    </div>
                  </div>
                  <div class="mb-3 col-md-6">
                    <label class="form-label" for="id_phone">Password</label>
                    <div class="input-group input-group-merge">
                      <input maxlength="9" type="text" id="id_phone" value="{{data.password2}}" name="password"  class="form-control" placeholder="99 999 99 99">
                    </div>
                  </div>
                  
                </div>
                <div class="mb-3 col-md-6">
                  {{form.pers}}
                  </div>
                <div class="form-check form-switch mb-2">
                  <input name="active" type="checkbox"  id="id_active"
                  {% if data.active %} checked {% endif %}
                  class="form-check-input"
                  type="checkbox"/>
                  <label class="form-check-label" for="id_active">Faollashtirish</label>
                </div>
                <button type="submit" class="btn btn-primary">Saqlash</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / Content -->

    <div class="content-backdrop fade"></div>
  </div>

{% endblock %}
{% block javascript %}
<script type="text/javascript" src="/static/ckeditor/ckeditor-init.js"></script>
<script type="text/javascript" src="/static/ckeditor/ckeditor/ckeditor.js"></script>
<link rel="stylesheet" href="/static/dashboard/assets/vendor/css/pages/page-auth.css" />
<script src="/static/dashboard/assets/js/pages-account-settings-account.js"></script>
 {% endblock %}