{% extends 'main/base.html' %} {% load static %}
{% block style %} {% endblock %}
 {% block content %}


<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">Asosiy</a>
          </li>
          <li class="breadcrumb-item">
            <a href="/category/list">Kategoriya</a>
          </li>
          <li class="breadcrumb-item">
            <a href="/sub_category/list/{{main_category.id}}">{{main_category.name_uz}}</a>
          </li>
          <li class="breadcrumb-item">
            <a href="/product/list/{{sub.id}}">{{sub.name_uz}}</a>
          </li>
          <li class="breadcrumb-item active">Taxrirlash</li>
        </ol>
      </nav>

      <!-- Basic Layout -->
      <div class="row">
        <div class="col-xl">
          <div class="card mb-4">
            
            <div class="card-body">
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="category" id="id_category" value="{{sub.id}}">
                <div class="row">
                  <div class="mb-3 col-md-6">
                    <label class="form-label"  for="basic-default-fullname">Nomi Uz</label>
                    <input type="text" required class="form-control" id="id_name_uz" name="name_uz" value="{{data.name_uz}}">
                  </div>
                  <div class="mb-3 col-md-6">
                    <label class="form-label"  for="basic-default-fullname">Nomi Ru</label>
                    <input type="text" required class="form-control" id="id_name_ru" name="name_ru" value="{{data.name_ru}}">
                  </div>  
                  <div class="mb-3 col-md-6">
                    <label class="form-label"  for="basic-default-fullname">Ma'lumot Uz</label>
                    {{form.desc_uz}}
                  </div>  
                  <div class="mb-3 col-md-6">
                    <label class="form-label"  for="basic-default-fullname">Ma'lumot Ru</label>
                    {{form.desc_ru}}
                  </div>  
                  <div class="mb-3 col-md-6">
                    <label class="form-label"  for="basic-default-fullname">Rasmi</label>
                    <div class="input-group">
                      <label class="input-group-text" for="id_photo">Upload</label>
                      <input type="file"  class="form-control" name="photo" id="id_photo">
                    </div>
                  </div>
                  <div class="mb-3 col-md-6">
                    <label class="form-label"  for="basic-default-fullname">Tan Narxi</label>
                    <input type="number" required class="form-control" id="id_tan_price" name="tan_price" value="{{data.tan_price}}">
                  </div>  
                  <div class="mb-3 col-md-6">
                    <label class="form-label"  for="basic-default-fullname">Rangi</label>
                    {{form.color}} 
                  </div>  
                </div>
                <div class="form-check form-switch mb-2">
                  <input {% if data.active %} checked {% endif %} name="active" type="checkbox"  id="id_active"
                    class="form-check-input"
                    type="checkbox"/>
                  <label class="form-check-label" for="id_active">Faollashtirish</label>
                </div>
                <button type="submit" class="btn btn-primary">Saqlash</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / Content -->

    <div class="content-backdrop fade"></div>
  </div>

{% endblock %}
{% block javascript %}
<script type="text/javascript" src="/static/ckeditor/ckeditor-init.js"></script>
<script type="text/javascript" src="/static/ckeditor/ckeditor/ckeditor.js"></script>
<script>
  let yashil = document.getElementById("yashil");
      
       console.log(yashil.addEventListener("click", () => yashil.getAttribute("dataaaa")));
</script>
 {% endblock %}