{% extends 'main/base.html' %} {% load static %}
{% block style %} {% endblock %}
 {% block content %}

<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">Asosiy</a>
        </li>
        <li class="breadcrumb-item active">Buyurtmalar</li>
      </ol>
    </nav>
    <div class="card">
      <form method="post">
        {% csrf_token %}
      <div class="d-flex justify-content-between" style="margin: 30px 30px 10px 20px;">
        <div>
          <select class="btn-sm btn" style="border: solid 1px #8592a3;" name="fillial" id="">
            <option value="all">Barchasi</option>
            {% for i in fillials %}

            
            <option  value="{{i.id}}" {% if i.id == filter_active_filial %} {{ 'selected' }} {% endif %}   >{{i.name_uz}}</option>
            {% endfor %}
          </select>

           <input type="date" {% if from_date %} value="{{ from_date }}"  {% endif %} name="from" style="border: solid 1px #8592a3;"   class="dropdown-toggle btn btn-sm"/>
           <input type="date" {% if to_date %} value="{{ to_date }}"  {% endif %} name="to" style="border: solid 1px #8592a3;"  class="dropdown-toggle btn btn-sm"/>
           <button type="submit" class="btn btn-sm btn-secondary">Filter</button>
        </div>
      </div>
    </form>
      <div class="table-responsive text-nowrap">
        <table class="table mt-3">
          <thead>
            <tr>
              <th>№</th>
              <th>Haridor</th>
              <th>Telefon</th>
              <th>Fillial</th>
              <th>Maxsulot</th>
              <th>Sana</th>
              <th>Chop etish</th>
              <th>Qabul qilish</th>
              <th>Rad etish</th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            {% for i in orders %}

            <tr data-order="{{i.order.id}}" class="all_product_for_socket">
              <td>
                <i class="fab fa-angular fa-lg text-danger me-3"></i>
                <strong>{{forloop.counter}}</strong>
              </td>
              <td>
                {{i.order.user.name}}
              </td>
              <td>
                <a href="tel:{{i.order.user.number}}">{{i.order.user.number}}</a>
              </td>
              <td>
                {{i.order.user.filial}}
              </td>
              <td>
                <button class="btn btn-secondary btn-sm" onclick="Products({{i.order.id}})" >#{{i.order.id}} mahsulot</button>
              </td>
              <td>{{i.order.order_time|date:"d-m-Y H:i"}}</td>
              <td>
                <button class="btn btn-info btn-sm" onclick="PrintOrder('{{i.order.id}}','{{i.img1}}','{{i.img2}}','{{i.img3}}',`{{i.items}}`, `{{i.name}}`, `{{i.number}}`);">Rad etish</button>
              </td>
              <td>
                <a href="{% url 'update_order' pk=i.order.id status=1 %}" onclick="socket.close()" class="btn btn-success btn-sm" >Qabul qilish</a>
              </td>
              <td>
                <button class="btn btn-danger btn-sm" onclick="Reject( {{ i.order.id }} )">Rad etish</button>
              </td>
              
            </tr> 
            <div id="card_{{i.order.id}}" style="position: fixed; width: 100%;height: 100%; background-color: rgba(0, 0, 0, 0.141); display: none;">
              <div class="card" style="position: fixed; left:50%; transform: translate(-50%,0);top:30%;">
                <div style="margin-left: auto;display: flex;flex-direction: row-reverse;"><button class="btn mt-1" onclick="Remove({{i.order.id}})" ><i class='bx bx-x-circle'></i></button></div>  
                <div class="card-body">
                  
                  <p class="card-text">{{i.items|safe}}</p>
                  <a href="{% url 'update_order' pk=i.order.id status=1 %}" onclick="socket.close()" class="btn btn-success btn-sm" >Qabul qilish</a>
                  <button onclick="Reject( {{ i.order.id }} )" class="btn btn-danger btn-sm">Rad etish</button>
                </div>
              
              </div>
            </div>
            {% endfor %}                      
          </tbody>
          <tfoot>
            <tr>
              <th>№</th>
              <th>Haridor</th>
              <th>Telefon</th>
              <th>Fillial</th>
              <th>Maxsulot</th>
              <th>Sana</th>
              <th>Chop etish</th>
              <th>Qabul qilish</th>
              <th>Rad etish</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="content-backdrop fade"></div>
  </div>
</div>





<div id="reject" style="position: fixed; width: 100%;height: 100%; background-color: rgba(0, 0, 0, 0.141); display: none;">
  <div class="card" style="position: fixed; left:50%; transform: translate(-50%,0);top:30%;">
    <div class="card-body">
      <h5>Kamentariya qoldirish</h5>
      <textarea class="form-control"  name="" id="description_data" cols="50" rows="5"></textarea>
      <a  id="reject_order" style="color: #fff;" class="btn btn-primary mt-2">Yuborish</a>
      <!-- <a href="#"  class="btn btn-secondary mt-2">O'tkazib yuborish</a> -->
    </div>
  
  </div>
</div>





{% endblock %}


{% block javascript %}
<script src="https://unpkg.com/jspdf-invoice-template@1.4.0/dist/index.js"></script>
<script>
  function Products(product) {
    document.getElementById("card_"+String(product)).style.display = "block";
  }
  function Remove(product) {
    document.getElementById("card_"+String(product)).style.display = "none";

  }
    

  function Reject(id) {
    console.log(id);

    document.getElementById("reject").dataset['product'] = id;
    document.getElementById("reject_order").onclick = async (e) => {

       let req = await (await fetch(`/orders/reject/${e.target.parentElement.parentElement.parentElement.dataset['product']}`, {
         method: "POST",
          headers: {
            'X-CSRFToken': '{{ csrf_token }}',
            'Content-Type': 'application/json'
          },
         body: JSON.stringify({
         desc: document.getElementById("description_data").value
         })
       }) );
       location.reload();

       console.log(this);
    }
    document.getElementById("reject").style.display = "block";

  }





    function PrintOrder(id, selfimg, selfimg2, selfimg3, items, name, number) {
      console.log(arguments)
      let props = {
        outputType: 'save',
          returnJsPDFDocObject: true,
          fileName: "Invoice 2021",
          orientationLandscape: false,
          compress: true,
          logo: {
          // src: "https://raw.githubusercontent.com/edisonneza/jspdf-invoice-template/demo/images/logo.png",
            src: selfimg,
            type: 'PNG', //optional, when src= data:uri (nodejs case)
            width: 50,
            height: 50,
            margin: {
                top: -20, //negative or positive num, from the current position
                left: 0 //negative or positive num, from the current position
            }
          },
          
      }

      var pdfObject = jsPDFInvoiceTemplate.default(props);

    }

  const socket = new WebSocket(`ws://${location.hostname}:8001`);

  console.log(socket);
  socket.onmessage = (ev) => {
    console.log(ev.data);
    $(".all_product_for_socket").each((i,e) =>{
      if ($(e).data('order') == ev.data) {
        $(e).remove();
      }
    } );
  }
  console.log(socket);
</script>

{% endblock %}