{% extends 'main/base.html' %} {% load static %}
{% block style %} {% endblock %}
 {% block content %}

<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">Asosiy</a>
          {{user.is_superuser}}
        </li>
        
        <li class="breadcrumb-item active">Buyurtmalar</li>
        <li class="breadcrumb-item active">#{{order.id}}-raqamli buyurtma</li>
      </ol>
    </nav>
    </div>
    <div>
        {% if order %}
        <div class="card"
          style="left:50%; transform: translate(-50%,0); width: 40vw; height: auto;margin-bottom: 5vh;">
          <div class="card-body">
            <h5 class="card-title">Passport ma'lumotlari</h5>
            <div id="imagesrow" class="row">
              <div class="col-md-4">
                <a href="{{order.self_image.url}}">
                  <img class="card-img" style="height: 100%; object-fit: cover; object-position: center;"
                  src="{{order.self_image.url}}" alt="">
                </a>
              </div>
              <div class="col-md-4">
                <a href="{{order.passport_image.url}}">
                  <img class="card-img" style="height: 100%; object-fit: cover; object-position: center;"
                  src="{{order.passport_image.url}}" alt="">
                </a>
              </div>
              <div class="col-md-4">
                <a href="{{order.self_password_image.url}}">
                  <img class="card-img" style="height: 100%; object-fit: cover; object-position: center;"
                  src="{{order.self_password_image.url}}" alt="">
                </a>
              </div>
            </div>
            <br>
            <h5 class="card-title">Buyurtmachi</h5>
            <p><b>FIO: </b>{{order.user.name}}</p>
            <p><b>Telefon: </b><a href="tel:{{order.user.number}}">{{order.user.number}}</a></p>
            <p><b>Ish joyi: </b> {{ order.work_place }}</p>
            <p><b>Yashash joyi: </b> {{ order.live_place }}</p>
            <h5 class="card-title">Buyurtmalar</h5>
            <p>{{text.items|safe}}</p>
            <button onclick="Accept( {{ i.order.id }} )"
              class="btn btn-success mt-2">Tasdiqlash</button>

              <button onclick="Reject( {{ i.order.id }} )"  class="btn btn-danger mt-2">Rad etish</button>
            <button onclick="Archive( {{ i.order.id }} )"  class="btn btn-secondary mt-2">Arxiv</button>
            {{i}}
            <a class="btn btn-info mt-2"  href="/makepdfoforder/{{ order.id }}">download pdf</a>
          </div>
        </div>
        </div>
        {% endif %}
      </div>
    <div class="content-backdrop fade"></div>
  </div>
</div>

<div id="reject" style="position: fixed; width: 100%;height: 100%; background-color: rgba(0, 0, 0, 0.141); display: none;">
  <div class="card" style="position: fixed; left:50%; transform: translate(-50%,0);top:30%;">
    <div class="modal-header">
      <h5 class="modal-title">Reject</h5>
      <button type="button" id="reject_close_button" class="btn-close" aria-label="Close"></button>
    </div>
    <div class="card-body">
      <h5>Kamentariya qoldirish</h5>
      <textarea class="form-control"  name="" id="description_data" cols="50" rows="5" placeholder="Kommentariya (ixtiyoriy)"></textarea>
      <a  id="reject_order" style="color: #fff;" class="btn btn-primary mt-2">Yuborish</a>
      <!-- <a href="#"  class="btn btn-secondary mt-2">O'tkazib yuborish</a> -->
    </div>
  
  </div>
</div>
<div id="accept" style="position: fixed; width: 100%;height: 100%; background-color: rgba(0, 0, 0, 0.141); display: none;">
  <div class="card" style="position: fixed; left:50%; transform: translate(-50%,0);top:30%;">
    <div class="modal-header">
      <h5 class="modal-title">Reject</h5>
      <button type="button" id="accept_close_button" class="btn-close" aria-label="Close"></button>
    </div>
    <div class="card-body">
      <h5>Kamentariya qoldirish</h5>
      <textarea class="form-control"  name="" id="description_data1" cols="50" rows="5" placeholder="Kommentariya (ixtiyoriy)"></textarea>
      <a  id="accept_order" style="color: #fff;" class="btn btn-primary mt-2">Yuborish</a>
      <!-- <a href="#"  class="btn btn-secondary mt-2">O'tkazib yuborish</a> -->
    </div>
  
  </div>
</div>
<div id="archive" style="position: fixed; width: 100%;height: 100%; background-color: rgba(0, 0, 0, 0.141); display: none;">
  <div class="card" style="position: fixed; left:50%; transform: translate(-50%,0);top:30%;">
    <div class="modal-header">
      <h5 class="modal-title">Reject</h5>
      <button type="button" id="archive_close_button" class="btn-close" aria-label="Close"></button>
    </div>
    <div class="card-body">
      <h5>Kamentariya qoldirish</h5>
      <textarea class="form-control"  name="" id="description_data2" cols="50" rows="5" placeholder="Kommentariya (ixtiyoriy)"></textarea>
      <a  id="archive_order1" style="color: #fff;" class="btn btn-primary mt-2">Yuborish</a>
      <!-- <a href="#"  class="btn btn-secondary mt-2">O'tkazib yuborish</a> -->
    </div>
  
  </div>
</div>

{% csrf_token %}
{% endblock %}
{% block javascript %}
<script src="/static/admin/js/jspdf.min.js"></script>
<script src="/static/admin/js/html2canvas.min.js"></script>
<script src="/static/admin/js/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script>
  function Reject(id) {
    
    document.getElementById("reject").dataset['product'] = id;
    
    document.getElementById("reject_order").onclick = async (e) => {
       let req = await (await fetch(`{% url 'order_not_accept' order.id %}`, {
         method: "POST",
          headers: {
            'X-CSRFToken': '{{ csrf_token }}',
            'Content-Type': 'application/json'
          },
         body: JSON.stringify({
         desc: document.getElementById("description_data").value
         })
       }) );
       location.href = "{% url 'orders_list' %}"

       console.log(this);
    }
    document.getElementById("reject").style.display = "block";
    document.getElementById('reject_close_button').onclick = () => {
      document.getElementById("reject").style.display = 'none';
    }


  }
  function Accept(id) {
    document.getElementById("accept").dataset['product'] = id;
    document.getElementById("accept_order").onclick = async (e) => {
       let req = await (await fetch(`{% url 'order_accept' order.id %}`, {
         method: "POST",
          headers: {
            'X-CSRFToken': '{{ csrf_token }}',
            'Content-Type': 'application/json'
          },
         body: JSON.stringify({
         desc: document.getElementById("description_data1").value
         })
       }) );
       location.href = "{% url 'orders_list' %}"

       console.log(this);
    }
    document.getElementById("accept").style.display = "block";
    archive_close_button

  }
  function Archive(id) {
    // alert("sdfdsf")
    document.getElementById("archive").dataset['product'] = id;
    document.getElementById("archive_order1").onclick = async (e) => {
       let req = await (await fetch(`{% url 'archive_order' order.id %}`, {
         method: "POST",
          headers: {
            'X-CSRFToken': '{{ csrf_token }}',
            'Content-Type': 'application/json'
          },
         body: JSON.stringify({
         desc: document.getElementById("description_data2").value
         })
       }) );
       location.href = "{% url 'orders_list' %}"

       console.log(this);
    }
    document.getElementById("archive").style.display = "block";
    document.getElementById('archive_close_button').onclick = () => {
      document.getElementById("archive").style.display = 'none';
    }
  }







  function print_pdf(e) {
    var data = document.getElementById('imagesrow');

  }
</script>
{% endblock %}