{% extends 'main/base.html' %} {% load static %}
{% block style %} {% endblock %}
 {% block content %}

<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">Asosiy</a>
          {{user.is_superuser}}
        </li>
        
        <li class="breadcrumb-item active">Buyurtmalar</li>
        <li class="breadcrumb-item active">#{{order.id}}-raqamli buyurtma</li>
      </ol>
    </nav>
    </div>
    <div>
        {% if order %}
        <div class="card"
          style="position: fixed; left:50%; transform: translate(-50%,0);top:20%; width: 40vw; height: auto;">
          <div class="card-body">
            <h5 class="card-title">Passport ma'lumotlari</h5>
            <div class="row">
              <div class="col-md-4">
                <a href="{{order.self_image.url}}">
                  <img class="card-img" style="height: 100%; object-fit: cover; object-position: center;"
                  src="{{order.self_image.url}}" alt="">
                </a>
              </div>
              <div class="col-md-4">
                <a href="{{order.passport_image.url}}">
                  <img class="card-img" style="height: 100%; object-fit: cover; object-position: center;"
                  src="{{order.passport_image.url}}" alt="">
                </a>
              </div>
              <div class="col-md-4">
                <a href="{{order.self_password_image.url}}">
                  <img class="card-img" style="height: 100%; object-fit: cover; object-position: center;"
                  src="{{order.self_password_image.url}}" alt="">
                </a>
              </div>
            </div>
            <br>
            <h5 class="card-title">Buyurtmachi</h5>
            <p><b>FIO: </b>{{order.user.name}}</p>
            <p><b>Telefon: </b><a href="tel:{{order.user.number}}">{{order.user.number}}</a></p>
            <h5 class="card-title">Buyurtmalar</h5>
            <p>{{text.items|safe}}</p>
            <a style="color: #fff;" href="{% url 'order_accept' order.id  %}"
              class="btn btn-success mt-2">Tasdiqlash</a>

            <a style="color: #fff;" href="{% url 'order_not_accept' order.id %}" class="btn btn-danger mt-2">Rad etish</a>
            <a style="color: #fff;" href="{% url 'archive_order' order.id %}" class="btn btn-secondary mt-2">Arxiv</a>
          </div>
        </div>

        </div>
        {% endif %}
      </div>
    <div class="content-backdrop fade"></div>
  </div>
</div>
{% endblock %}
{% block javascript %}
<script>
    var Getcheck = function() {
    var data = document.getElementsByClassName("results");
    for (var i = 0; i < data.length; i++) {
      if (data[i].checked) {
        console.log("checked",data[i].value);}
      else {
        console.log("unchecked",data[i].value);
      }
    }
    }
</script>
{% endblock %}